div.admin-gallery, div.admin-tags {
    margin-bottom: 10px;
    margin-left: 10px;
    width: calc(50% - 35px);
    min-width: 335px;
}

div.admin-gallery a, div.admin-tags a {
    font-size: 14px;
    margin: 5px;
}

div.admin-gallery h3, div.admin-tags h3 {
    margin: 0 10px 10px 10px;
}

div.gallery-content, div.tags-content {
    margin-top: 10px;
    overflow:scroll;
    height: 600px;
}

div.tag-filter form {
    display: block;
    float: inherit;
    margin: 0;
}

div.tag-filter form input[type=text] {
    margin-left: 10px;
}

div.tag-content {
    height: 22px;
    margin-bottom: 5px;
    /*padding:5px;*/
}

div.tag-content input[type=text] {
    width: calc(100% - 70px);
    border: 0;
    border-bottom:1px dashed #c1c1c1;

}


div.gallery-content-item {
    margin-bottom: 5px;
}

div.gallery-content-item input[type=text]{
    width: calc(100% - 10px);
    border: 0;
    border-bottom:1px dashed #c1c1c1;
    margin-top: 5px;
}

div.gallery-content-item-image {
    width: 50%;
    border: 1px solid #c1c1c1;
}

div.gallery-content-item-image img {
    width: 100%;
}

div.gallery-content-item-tags {
    width: calc(50% - 50px);
    margin-left: 5px;
    margin-top: 5px;
    padding: 5px;
}

div.gallery-content-item-tags a {
    font-size: 12px;
}

div.gallery-content-item-tags div.tag-item {
    border: 1px solid #c1c1c1;
    width: auto;
    font-size: 12px;
    padding: 2px 4px;
    height: 16px;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 5px;
}

div.gallery-content-item-tags div.tag-item a {
    font-weight: bolder;
    color: red;
}


div.gallery-content-item-tags label {
    font-size: 12px;
}

div.gallery-content-item-tags div.select-container {
    padding: 0;
    margin: 1px 0 0 0;
    width: auto;
    /*height: 17px;*/
    width: 100%;
}

div.gallery-content-item-tags div.select-container select {
    width: 100%;
}

div.gallery-content-item-tags div.select-container ul {
    display: block;
    float: left;
    margin: 0;
    padding: 3px;
    width: calc(100% - 10px);;
    border: 1px solid #c1c1c1;
    font-size: 12px;
    list-style-type: none;
}

div.gallery-content-item-tags div.select-container ul li {
    height: 18px;
}

div.gallery-content-item-tags div.select-container ul li:hover {
    background-color: #4a76a8;
    color: white;
}