div.all-news {
	padding: 0;
}

div.news {
	margin-bottom: 10px;
	width: 100%;
}

div.news-left {
	width: 100px;
	margin-right: 10px;
	padding: 0;
}

div.news-right {
	width: calc(100% - 134px);
	padding: 0;
}

div.news-preview, div.news-date {
	width: 100%;
	padding: 0;
}

div.news-preview {
	height: 100px;
	border: 1px solid #c1c1c1;;
}

div.news-date {
	font-size: 12px;
}

div.news-preview img {
	width: 100%;
}

div.news-header, div.news-content {
	border: 1px solid green;
	width: 100%;
}


div.news-header h2 {
	font-size: 14px;
	margin: 0;

}

div.news-filter {
	margin-bottom: 10px;
}

div.news-filter form {
	display: block;
	float: left;
	margin: 0;
}

